---
import Layout from "../layouts/Layout.astro";
import "../styles/404.css";
---

<Layout title="404">
	<section class="error-section">
		<div class="glitch-container">
			<div class="text-glow"></div>
			<p
				class="error-subtitle glitch-text"
				data-text="the page you're looking for seems to have vanished into the void."
			>
				the page you're looking for seems to have vanished into the
				void.
			</p>
		</div>
		<p class="error-back-text">
			go <a href="/" class="error-back-link">back to the shack</a>, where
			it is warm and safe
		</p>
	</section>
</Layout>
