---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import impressumData from "../../lbw-data/impressum.json";

// List of headings that should get the heading class
const headings = [
	"Betreiber",
	"Für den Inhalt verantwortlich",
	"Haftungshinweis",
	"Datenschutz",
	"Privacy",
];
---

<Layout title="Impressum">
	<PageHeader title="Impressum">
		<div class="text-content impressum-content">
			{
				impressumData[0].description.map((line) => (
					<Fragment>
						{line === "" ? (
							<br />
						) : (
							<p
								class={`impressum-text ${headings.includes(line) ? "heading" : ""}`}
								set:html={line}
							/>
						)}
					</Fragment>
				))
			}
		</div>
	</PageHeader>
</Layout>
