---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Interlace">
	<PageHeader
		title="feel free to contact us"
		subtitle="we read all of our mails and will answer every single one. except offers for galvanized wire mesh. please stop sending us offers for galvanized wire mesh. we don't need galvanized wire mesh. thank you."
	>
		<div class="contact">
			<a href="mailto:liquidbarbedwire@gmail.com" class="email-link"
				>interlace: liquidbarbedwire@gmail.com</a
			>
		</div>
	</PageHeader>
</Layout>
