---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import pitData from "../../lbw-data/pit.json";
---

<Layout title="Pit">
	<PageHeader
		title="raw noise from the pit"
		subtitle="here we will randomly publish unedited rehearsal recordings"
	>
		{
			pitData.map((item) => (
				<div class="pit-section">
					<div class="pit-image-wrapper">
						<img
							src={item.picture_large}
							alt={item.picture_alt}
							class="pit-image"
						/>
					</div>
					<div class="grid pit-tracks-grid">
						{item.tracks.map((track) => (
							<div class="track">
								<audio controls>
									<source
										src={track.source}
										type="audio/mpeg"
									/>
									Your browser does not support the audio
									element.
								</audio>
							</div>
						))}
					</div>
				</div>
			))
		}
	</PageHeader>
</Layout>
