---
interface Props {
    currentPage: number;
    totalPages: number;
    basePath: string;
    showPageInfo?: boolean;
}

const { currentPage, totalPages, basePath, showPageInfo = false } = Astro.props;
---

{
    totalPages > 1 && (
        <div class="pagination">
            {currentPage > 1 && (
                <a
                    href={`${basePath}?page=${currentPage - 1}`}
                    class="pagination-link"
                >
                    ← Previous
                </a>
            )}
            {showPageInfo && (
                <span class="page-info">
                    Page {currentPage} of {totalPages}
                </span>
            )}
            {currentPage < totalPages && (
                <a
                    href={`${basePath}?page=${currentPage + 1}`}
                    class="pagination-link"
                >
                    Next →
                </a>
            )}
        </div>
    )
}
